<!DOCTYPE html>
<html>
<head>
  <title>Email Confirmation</title>
</head>
<body>
	<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <img src="https://staging.remote.bingo/assets/images/Remote%20Bingo%20Logo.svg" alt="Company Logo" width="200" />
      <h2>PAYRENT</h2>
    </td>
  </tr>
</table>
<hr />
  <div><img src="../static/confirm.png" alt="confirmation image"></div>
  <h1>Welcome to Payrent!</h1>
  <h3>Hi {{username}},</h3>
	<p>Welcome to Payrent! Before you can start enjoying our platform, we need to verify your email address.<br>
	Please click the link below to verify your email: <br><br>
	{{verificationUrl}} <br><br>
	If you didn’t create an account with Payrent, please ignore this email.</p>
	<h3>Best regards, The Payrent Team</h3>
	<hr />
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <p>You are receiving this email because you just signed up for Payrent. If you did not sign up or believe this message was sent in error, please contact our support team immediately</p>
    <p>If these emails get annoying, please feel free to <a href="">Unsubscribe</a></p>
    </td>
  </tr>
</table>
</body>
</html>
