{{#> layout title="Password Reset Complete"
  imageSrc="https://i.ibb.co/QCm5ttb/image.png"
  imageAlt="Password Reset Confirmation Illustration"
}}
  <p style="margin-bottom: 14px; font-size: larger; font-weight: 500;">
   <strong>Hi {{username}},</strong></p>
  <p style="margin-bottom: 16px;">
  This is a confirmation that your password for your Payrent account has been successfully reset. You can now log in using your new password.
  </p>
  <p style="margin-bottom: 16px;">
    If you didn’t make this change, please contact our support team immediately on <a href="#" style="overflow-wrap: break-word;color:rgb(32, 165, 226)">
    team@remote.bingo
    </a> &nbsp; so we can secure your account.
  </p>
  <p style="margin-bottom: 16px;">
   <strong>
    Best regards,
   </strong>
   </p>
  <p>The Payrent Team</p>
{{/layout}}