{{#> layout title="Reset Your Password"
  imageSrc="https://i.ibb.co/cgchVsV/image.png"
  imageAlt="Password Reset Illustration"
}}
  <p style="margin-bottom: 14px; font-size: larger; font-weight: 500;">
   <strong>Hi {{username}},</strong></p>
  <p style="margin-bottom: 16px;">
   It looks like you requested to reset your password for your Payrent account. No worries—we’re here to help!
  </p>
  <p style="margin-bottom: 16px;">
   To reset your password, please enter the six digit code below:
  </p>
  <p style="margin-bottom: 16px; text-align: center;">
    {{otp}}
  </p>
  <p style="margin-bottom: 16px;">
    If you didn’t request a password reset, you can safely ignore this email. Your account is secure, and no changes will be made.
  </p>
  <p style="margin-bottom: 16px;">
    For any further assistance or if you have any questions, feel free to reach out to our support team at  <a href="#" style="overflow-wrap: break-word;color:rgb(32, 165, 226)">
    team@remote.bingo
    </a>
  </p>
  <p style="margin-bottom: 16px;">
   <strong>
    Best regards,
   </strong>
   </p>
  <p>The Payrent Team</p>
{{/layout}}