{{#> layout title="Email Verification"
  imageSrc=verifyEmailIllustration
  imageAlt="Verify Image"
}}
  <p style="margin-bottom: 14px; font-size: larger; font-weight: 500;">
   <strong>Hi {{name}},</strong></p>
  <p style="margin-bottom: 16px;">
    Welcome to Payrent! We are here to help you get verified. Here is your requested OTP
  </p>
  <p style="margin-bottom: 16px;">
    Please input the OTP below to complete your verification:
  </p>
  <p style="margin-bottom: 16px; text-align: center;">
    <strong>{{otp}}</strong></p>
  </p>
  <p style="margin-bottom: 16px;">
    This codes will help you complete your verification.
  </p>
  <p style="margin-bottom: 16px;">
    If you didn't initiate an OTP request or interact with our platform, please ignore this email.
  </p>
  <p style="margin-bottom: 16px;">
   <strong>
    Best regards,
   </strong>
   </p>
  <p>The Payrent Team</p>
{{/layout}}